<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(shoppingEditForm)" #shoppingEditForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 ngModel
                 required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number"
                 id="amount"
                 class="form-control"
                 name="amount"
                 ngModel
                 required pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!shoppingEditForm.valid">
            {{inEditMode ? "Update" : "Add"}}
          </button>
          <button class="btn btn-danger" type="button" *ngIf="inEditMode" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Template Driven Forms
      - in <form> setup: #shoppingEditForm="ngForm", angular maakt standaard een ngForm aan bij een form, op deze manier
      kan je bij de formData komen via #shoppingEditForm.
      - elke input krijgt een name="xx" om vanuit #shoppingEditForm.value.xx hier bij te kunnen komen
      - elke input krijgt een ngModel om deze te koppelen aan formData

      Other notes:
      - pattern="xx" reguliere expressie die alleen cijfers 1+ toelaat.
-->
